@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

* {
  padding: 0;
  margin: 0;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



.btn-142 {
  --BG_color: #000000;
  --color: #000000;
  border: none;
  color: var(--color);
  position: relative;
  font-weight: bold;
  font-size: 16px;
  transition-duration: .2s;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  padding: 0;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-142 span {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 11;
  background: var(--BG_color);
  border-radius: 7px;
}

.btn-142:before,
.btn-142:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
          #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: move_142 20s linear infinite;
}

@keyframes move_142 {
  0% {
      background-position: 0 0;
  }

  50% {
      background-position: 400% 0;
  }

  100% {
      background-position: 0 0;
  }
}

.btn-142:after {
  filter: blur(50px);
}

/*** disabled style ***/
.btn-142:disabled {
  pointer-events: none;
  opacity: .65;
  color: #7e7e7e;
  background: #dcdcdc;
  text-shadow: none;
  box-shadow: none;
}

.btn-142:disabled:before,
.btn-142:disabled:after {
  background: #dcdcdc;
  animation: none;
}